body {
  margin: 0;
}

.national-day-body {
  position: fixed;
  overflow: hidden;
  width: 15vw;
  height: 100vh;
  background: linear-gradient(0, #fcf732, #ecab29, #de3107, #de3107);
}

.five-star-red-flag {
  position: absolute;
  width: 14vw;
  height: 15vw;
}

.star-center, .star-one, .star-two, .star-three, .star-four {
  position: absolute;
  border-top: 1vw solid yellow;
  border-right: 1.7vw solid transparent;
  border-left: 1.7vw solid transparent;
  top: 7vw;
  left: 1vw;
  z-index: 1;
  transform: scale(1);
}

.star-center:before, .star-center:after,
.star-one:before, .star-one:after,
.star-two:before, .star-two:after,
.star-three:before, .star-three:after,
.star-four:before, .star-four:after {
  content: '';
  position: absolute;
  border-top: 1vw solid yellow;
  border-right: 1.7vw solid transparent;
  border-left: 1.7vw solid transparent;
  transform: rotate(72deg);
  top: -1vw;
  left: -1.6vw;
}

.star-center:after, .star-one:after, .star-two:after,
.star-three:after, .star-four:after {
  content: '';
  transform: rotate(147deg);
}

.star-one {
  left: 4.3vw;
  transform: scale(.35) rotate(-31deg);
  top: 5vw;
}

.star-two {
  left: 5.3vw;
  transform: scale(.35) rotate(-32deg);
  top: 6.3vw;
}

.star-three {
  left: 5.3vw;
  transform: scale(.35) rotate(2deg);
  top: 8vw;
}

.star-four {
  left: 4.3vw;
  transform: scale(.35) rotate(19deg);
  top: 9.5vw;
}
